<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs"); %>
</head>
<body>
    <%- include("./partials/nav.ejs"); %>

    <div class="details content">
        <h2><%=blogsParam.title%></h2>
        <div class="content">
            <p><%= blogsParam.body %></p>
        </div>
    </div>
    <%- include("./partials/footer.ejs"); %>
</body>
</html>